.data {
    margin: 0 auto;
    margin-top: 100px;
    background-color: grey;
    padding: 5px;
    width: 320px;
  }
  .customerdetails {
    background-color: skyblue;
    margin: 0 auto;
    max-width: 400px;
    max-height: 500px;
    margin-top: 50px;
    text-align: center;
    
    border-radius: 10px;
  }
  